.user {
    border: 2px solid #e8efff;
    background-color: #005550;
    border-radius: 20px;
    color: white;
    & .icon-user {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        border-bottom-left-radius: 30px;
        color: #005550;
    }
}