<app-header></app-header>
<div class="d-flex flex-row justify-content-between ml-5">
    <div class="d-flex flex-row justify-content-start ">
        <button *ngIf="!isEnrolled" type="button" class="btn btn-primary mr-2" (click)="joinCourse()">Join</button>
        <button *ngIf="isEnrolled" type="button" class="btn btn-danger mr-2" (click)="leaveCourse()">Leave course</button>
        <button type="button" class="btn btn-light" (click)="editCourse($event)">Edit</button>
    </div>
    <button class="bi bi-trash-fill mr-5" style="border: none; background-color:transparent; color:red" (click)="deleteCourse($event)"></button>
</div>

<main class="m-5">
    <h3>Course name : {{course.name}}</h3>

    <p>Course departament : {{course.departament}}</p>

    <p>Description : {{course.description}}</p>

</main>