<app-header></app-header>
<div class="d-flex flex-row justify-content-between ml-5">
    <div class="d-flex flex-row justify-content-start ">
        <button *ngIf="!isBooked" type="button" class="btn btn-primary mr-2" (click)="takeBook()">Take it</button>
        <button *ngIf="isBooked" type="button" class="btn btn-danger mr-2" (click)="returnBook()">Return it</button>
        <button type="button" class="btn btn-light" (click)="editBook($event)">Edit</button>
    </div>

    <button class="bi bi-trash-fill mr-5" style="border: none; background-color:transparent; color:red" (click)="deleteBook($event)"></button>
</div>

<main class="m-5">
    <h3>Book Detail</h3>

    <h3>Book name : {{book.book_name}}</h3>

    <p>Created at : {{book.created_at}}</p>

    <p>{{book.description}}</p>


</main>